.root {
  --logo-one-color:  #4D5AE5;
  --background-color:  #2E2F42;
  --main-font-color:  #434455;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--iris);
  background-color: var(--navy-blue-color);
}




.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*--logo-one--*/
.logo-one {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}

/*--logo-two*/
.logo-two-dark {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2E2F42;

}

/*--menu-link*/
.menu-link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2E2F42;


}

/*--address--*/
.address {
  font-style: normal;
}

/*--email-link*/
.email-link {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;

}

/*--phone-number*/
.phone-number {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/*--page-header--*/
.page-header {
  background: #2E2F42;
}

.page-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;

  letter-spacing: 0.02em;
 
  color: #FFFFFF;
}

.modal-button {
 

background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
}

/*--text-button--*/
.text-button {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;

}

/*--visually-hidden--*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*--header-three--*/
.header-three {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

/*--paragraph--*/
.paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;

}

/*--header.two--*/
.header-two {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
}

/*--page-footer--*/
.page-footer {
  background: #2E2F42;
}

.logo-two-light {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #F4F4FD;
}

/*--paragraph-footer--*/
.paragraph-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #E7E9FC;

}





